{% extends 'base.html' %}
{% set active_page = "stations_overview" %}

{% block content %}
  <h1>Station-Overview</h1>
  <table class="table table-striped">
    <thead>
      <tr>
       <th>ID</th>
       <th>Stationname</th>
       <th>Description</th>
       <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for station in stations %}
      <tr>
       <td>{{ station['id'] }}</td>
       <td>{{ station['stationname'] }}</td>
       <td>{{ station['description'] }}</td>
       <td>XXX</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
