{% extends 'base.html' %}
{% set active_page = "sensors_overview" %}

{% block content %}
  <h1>Sensor List</h1>
  <table class="table table-striped">
    <thead>
      <tr>
       <th>ID</th>
       <th>Sensorname</th>
       <th>Description</th>
       <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for sensor in sensors %}
      <tr>
       <td>{{ sensor['id'] }}</td>
       <td>{{ sensor['sensorname'] }}</td>
       <td>{{ sensor['description'] }}</td>
       <td><a href="{{ url_for("sensors.delete_sensor", sensorname = sensor['sensorname']) }}"><span data-feather="trash-2"></span></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
