{% extends 'base.html' %}
{% set active_page = "sensors_overview" %}

{% block content %}
  <h1>sensor-Overview</h1>
  <table class="table table-striped">
    <thead>
      <tr>
       <th>ID</th>
       <th>sensorname</th>
       <th>Description</th>
       <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for sensor in sensors %}
      <tr>
       <td>{{ sensor['id'] }}</td>
       <td>{{ sensor['sensorname'] }}</td>
       <td>{{ sensor['description'] }}</td>
       <td>XXX</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
