{% extends 'base.html' %}
{% set active_page = "settings_about" %}

{% block content %}
 <h1> About </h1>
 This project was developed to test flask and is not production-ready.
 If you want to contribute, feel free to join on <a href="https://github.com/hija/weatherserver"><span data-feather="github"></a>.

<h2> Dependencies </h2>
This project uses the following dependencies:

<ul>
  <li>Bootstrap (v4) - For the general website design</li>
  <li>jQuery - For some functionalities (i.e. dropdown)</li>
  <li>Chart.js - For showing the line charts </li>
  <li>Feather Icons</li>
  <li>Moment.js</li>
  <li>Popper.js</li>
</ul>
{% endblock %}
