{% extends 'vis/base.html' %}
{% set active_page = "vis_overview" %}

{% block content %}
<h1> Sensor data from <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   {{ sensorname }}
 </button>
 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
   <a class="dropdown-item" href="{{ url_for("visualiations.get_sensors") }}"> all </a>
   {% for sensor in sensors %}
    {% if sensor['sensorname'] != sensorname %}
   <a class="dropdown-item" href="{{ url_for("visualiations.get_vis_for_sensor", sensorname= sensor['sensorname']) }}">{{ sensor['sensorname'] }}</a>
    {% endif %}
   {% endfor %}
 </div> sensor </h1>
 <canvas id="visualisation"></canvas>
{% endblock %}
